<form action="/marcas/crear-marca" method="post">

    <section>

        <h1>Crear Marca</h1>
        <p>
            <label for="alias">Nombre de Marca</label>
            <input type="text" name="alias" id="alias" placeholder="Nombre de Marca">
        </p>
        <p class="form-buttons">
            <input value="Crear!" type="submit" class="rs-form" id="submit">
            <input type="reset" class="rs-form" id="reset">
        </p>


    </section>
</form>