<form action="/categorias/crear-categoria" method="post">

    <section>

        <h1>Crear Categoria</h1>
        <p>
            <label for="alias">Nombre de Categoria</label>
            <input type="text" name="alias" id="alias" placeholder="Nombre de Categoria">
        </p>
        <p class="form-buttons">
            <input value="Crear!" type="submit" class="rs-form" id="submit">
            <input type="reset" class="rs-form" id="reset">
        </p>


    </section>
</form>