<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <script src="/javascripts/modernizr.custom.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/jquery.dlmenu.js"></script>
    <script>
        $(function () {
            $('#dl-menu').dlmenu();
        });
    </script>

    <title><%= title%></title>
</head>