<li class="users-list-item">
    <a href="/usuarios/detalle-de-usuario/<%= user.id %> ">
        <h2>
            <%= user.alias %>
        </h2>
        <p>
            <%= user.email %>
        </p>
        <p>
            <%= user.phoneNumber %>
        </p>
    </a>  
</li>