    <form action="/usuarios/crear-usuario" method="post">

        <section>

            <h1>Crear Usuario</h1>
            <p>
                <label for="alias">Nombre y Apellido</label>
                <input type="text" name="alias" id="alias" placeholder="Nombre y Apellido">
            </p>

            <p>
                <label for="adress">Dirección</label>
                <input type="text" name="adress" id="adress" placeholder="Dirección">
            </p>

            <p class="form-buttons">
                <input value="Crear!" type="submit" class="rs-form" id="submit">
                <input type="reset" class="rs-form" id="reset">
            </p>


        </section>
    </form>