<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Editar Marca'}) %>
    <body>
        <%- include('./partials/header') %> 
        <main>
            <%- include('./partials/brand-edit-form') %>
        </main>
    </body>
</html>