<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Crear categoria'}) %>

    
<body>
    <%- include('./partials/header') %> 
    <main>
        <%- include('./partials/category-create-form') %> 
    </main>
    
</body>
</html>