<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Editar una categoria'}) %>

    
<body>
    <%- include('./partials/header') %> 
    <main>
        <%- include('./partials/category-edit-form') %> 
    </main>
</body>
</html>