<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Editar un producto'}) %>
<body>
    <%- include('./partials/header') %>
    <main>
        <ul class="products-list">
        <% products.forEach(product => { %>
            <%- include('./partials/product-list-item', {product: product}) %>
        <% }) %>
    </ul>
    </main>
</body>
</html>