<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Editar pedido    '}) %>



<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Pedido a editar</h1>
        <%- include('./partials/order-edit-form', {fullOrder: order}) %>


    </main>   
</body>
</html>