<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head', {title: 'LogIn Usuario'}) %>

    
<body>
    <%- include('./partials/header') %>
    <main>
        <%- include('./partials/user-login-form') %> 
    </main>
</body>
</html>