.prod-card{
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0% 5%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

h1.prod-card {
  font-size: 3rem;
}

h3 {
  margin: 0;
  color: #062F4F;
}

input {
  font-size: 2rem;
  max-width: 45px;
}

form p {
  display: block;
}

.prod-card img {
  width: 30%;
}

.img-desc{
  display: flex;
  flex-wrap: nowrap;
}

.img-desc span{
  width: 80%;
}

.buying-options{
  margin: 5% 0% 0% 0%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

.buying-option {
  margin: 2% 0px;
  padding: 10px 2px;
  border: 2px solid #062F4F;
  border-radius: 5px;
  
  box-shadow: 0px 0px 10px 1px #062F4F;
  -webkit-box-shadow: 0px 0px 10px 1px #062F4F;
  -moz-box-shadow: 0px 0px 10px 1px #062F4F;
  }

.buying-option button{
  width: auto;
}

@media screen and (max-width: 55.0625em) {
  .prod-card img {
      width: 80%;
      margin: auto;
  }

  .img-desc{
    flex-wrap: wrap;
  }

  .buying-options{
    flex-wrap: wrap;
  }
}